# Flutter related
**/build/
**/ios/Flutter/.last_build_id
*.lock
*.iml
*.log
*.hprof
*.swp
*.swo
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.generated/
local.properties

# FastAPI / Python related
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
.venv/
venv/
ENV/
env/
*.sqlite3
/api/venv/

# VSCode related
.vscode/
.history/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
Thumbs.db
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln


gezbot-112ee-firebase-adminsdk*.json


# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


#####FLUTTER

# Miscellaneous
/gezbot/*.class
/gezbot/*.log
/gezbot/*.pyc
/gezbot/*.swp
/gezbot/.DS_Store
/gezbot/.atom/
/gezbot/.buildlog/
/gezbot/.history
/gezbot/.svn/
/gezbot/migrate_working_dir/

# IntelliJ related
/gezbot/*.iml
/gezbot/*.ipr
/gezbot/*.iws
/gezbot/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
/gezbot/**/doc/api/
/gezbot/**/ios/Flutter/.last_build_id
/gezbot/.dart_tool/
/gezbot/.flutter-plugins
/gezbot/.flutter-plugins-dependencies
/gezbot/.pub-cache/
/gezbot/.pub/
/gezbot/build/

# Symbolication related
/gezbot/app.*.symbols

# Obfuscation related
/gezbot/app.*.map.json

# Android Studio will place build artifacts here
/gezbot/android/app/debug
/gezbot/android/app/profile
/gezbot/android/app/release

#/gezbot/lib/firebase_options.dart

gezbot/linux/flutter/generated_plugin_registrant.cc
gezbot/linux/flutter/generated_plugin_registrant.h
gezbot/linux/flutter/generated_plugins.cmake
gezbot/macos/Flutter/GeneratedPluginRegistrant.swift
gezbot/windows/flutter/generated_plugin_registrant.cc
gezbot/windows/flutter/generated_plugin_registrant.h
gezbot/windows/flutter/generated_plugins.cmake


*key.properties
*.env 

api/config.json